html {
  font-size: 62.5%;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #f2f3f2;
}

.hidden {
  display: none !important;
  position: absolute !important;
}

//add shadow to elements

.level {
  //   display: flex;
  //   justify-content: space-evenly;
  &__h1 {
    width: max-content;
    margin: 0 auto;
    margin-top: 20vh;
    margin-bottom: 5vh;
  }

  &__btn {
    width: max-content;
    margin: 0 auto;
    margin-top: 10vh;
  }
}

.h1 {
  font-size: 4rem;
  //color: #0a253b;
  color: #1f3948;
}

.btn {
  font-family: inherit;
  padding: 1rem;
  border-radius: 3rem;
  margin-right: 2rem;
  background-color: transparent;
  color: #1f3948;
  font-size: 2rem;
  box-shadow: 0 1rem 1rem rgba(31, 57, 72, 0.3);

  border: 2px solid #1f3948;
  min-width: 10rem;
  max-width: max-content;

  transition: all 0.2s;
  cursor: pointer;

  &:hover {
    backface-visibility: hidden;
    transform: translateY(-3px);
    background-color: #d9dad8;
  }

  &:active {
    transform: translateY(-1px);
  }
}

//GAME GRID
.game {
  display: grid;
  grid-template-columns: 1fr;
}

// HANGMAN FIGURE

.hangman__fig {
  //   position: relative;
  //   display: inline-block;
  justify-self: center;
  margin-left: 12rem;
  margin-top: -8rem;
  display: grid;
  grid-template-columns: repeat(4, 8rem);
  grid-template-rows: repeat(5, 8rem);

  &-1 {
    grid-column: 1 / -1;
    grid-row-start: 5;
    margin-top: -1.8rem;
  }

  &-2 {
    border-left: 3px solid black;
    height: 15rem;
    grid-column: 2;
    grid-row: 3 / span 2;
  }

  &-3 {
    grid-column-start: 2;
    grid-row-start: 2;
    margin-top: 9rem;
    margin-left: 2px;
  }

  &-4 {
    grid-column-start: 2;
    grid-row-start: 2;
    margin-top: 7.1rem;

    &-lt {
      grid-column: 3;
      grid-row: 3;
      margin-top: 6px;
      margin-left: 3.5rem;
    }
  }

  &-5 {
    font-size: 5rem;
    font-weight: 200;
    grid-column: 3;
    grid-row: 3;
    margin-top: 8px;
    margin-left: 2.4rem;
  }

  &-6 {
    border-left: 3px solid black;
    height: 5.5rem;
    grid-column: 3;
    grid-row: 3;
    margin-top: 5.1rem;
    margin-left: 3.6rem;
  }

  &-7 {
    border-left: 3px solid black;
    height: 4rem;

    &--left {
      transform: rotate(55deg);
      //transform-origin: 0 0;
      grid-column: 4;
      grid-row: 3;
      margin-top: 9.5rem;
      margin-left: -5.5rem;
    }

    &--left-leg {
      transform: rotate(-45deg);
      grid-column: 4;
      grid-row: 4;
      margin-top: -2.5rem;
      margin-left: -4.7rem;
    }

    &--right-leg {
      transform: rotate(45deg);
      grid-column: 3;
      grid-row: 4;
      margin-top: 4.1rem;
      margin-left: 1.2rem;
    }

    &--right {
      transform: rotate(-55deg);
      //transform-origin: 0% 0;
      grid-column: 3;
      grid-row: 3;
      margin-top: 1.2rem;
      margin-left: 5px;
    }
  }
}

// .game__3 {
//   border-left: 3px solid black;
//   height: 2rem;
//   transform: rotate(45deg);
//   transform-origin: 10% 0%;
// }

// WORD DISPLAY
.word__guess {
  //justify-content: center;

  &--display {
    // display: inline-block;
    width: max-content;
    margin: 0 auto;
    // margin-left: 37%;
  }
}

.h1__display-win {
  margin-top: 10vh;
  margin-bottom: 10vh;
  font-size: 4rem;
  color: #1f3948;
  animation: pulsatewin 2s infinite;
  width: max-content;
  margin: 0 auto;
}

.h1__display-lost {
  margin-top: 10vh;
  margin-bottom: 10vh;
  font-size: 4rem;
  color: #1f3948;
  width: max-content;
  margin: 0 auto;
}

.btn__playagain {
  margin-left: 50%;
  transform: translateX(-50%) !important;
  margin-top: 3rem;
}

@keyframes pulsatewin {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

// KEYBOARD //////////

.keyboard {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(13, minmax(2rem, 6rem));
  justify-content: center;

  &__key {
    border: 2px solid #1f3948;
    color: #1f3948;
    padding: 1rem;
    min-width: 2.5rem;
    max-width: max-content;
    justify-self: center;
    align-self: center;
    border-radius: 5px;
    text-align: center;
    transition: all 0.2s;
    cursor: pointer;

    &:hover {
      background-color: #d9dad8;
      transform: scale(1.07);
    }

    &:active {
      transform: translateY(-1px);
    }
  }
}

@keyframes loading {
  0% {
    opacity: 0.2;
  }
  25% {
    opacity: 0.7;
  }
  50% {
    opacity: 0.2;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    opacity: 0.2;
  }
}

.word__guess--display {
  animation: loading 6s infinite;
}
